{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		Book App - {% block title %} {% endblock %}
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
	{% block other_css %} {% endblock %}
</head>
<body>
	<div class="container">
		<nav class="navbar" id="navID">
			<button type="button" onclick="myFunc(this)" class="toggle-collapse" id="toggle-button">
				<span class="toggle-icon">
					
				</span>				
			</button>
			<ul class="side-nav">
				<li class="nav-item">
					<a href="#" class="site-name">Prvi link</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Blog</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Features</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Pricing</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">Contact Us</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fab fa-facebook-f"></i>
						<i class="fab fa-twitter-f"></i>
						<i class="fab fa-instagram-f"></i>
						<i class="fab fa-youtube-f"></i>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container">
		{% block content %}

		{% endblock %}
	</div>
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{% block other_js %} {% endblock %}
</body>
</html>