{% extends "books/base.html" %}

{% block other_css %}
	{{ form.media.css }}
{% endblock %}

{% block title %}
	Book - {{ book.title }}
{% endblock %}

{% block content %}
	<div class="container">
		<form method="post" novalidate enctype="multipart/form-data">
			{% csrf_token %}
			{% include 'includes/bs4_edit_form.html' with form=form %}
			<div class="row custom_buttons">
				<a href="../" class="btn btn-outline-danger page-scroll btn-lg col-md-3">Cancel</a>
				<button type="submit" class="btn btn-outline-primary btn-lg col-md-3 offset-md-5">Save</button>
			</div>
		</form>
	</div>
{% endblock %}

{% block other_js %}
	{{ form.media.js }}
{% endblock %}
